// main: ../main.scss
/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.checkout-page .header-actions,
.cart-page .header-actions,
.order-page .header-actions,
.email-template-page .header-actions {
  display: none !important;
}

.page-title {
  text-align: left !important;
  padding: 30px 0 0 0 !important;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--heading-color);

    @media (min-width: 992px) {
      font-size: 2.5em;
    }
  }
}