// main: ../main.scss
/*--------------------------------------------------------------
# Starter Section Section
--------------------------------------------------------------*/
.starter-section {
  padding: 20px 0;

  .modal-dialog {
    min-width: 40%;
  }

  .cta-btn {
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.5s;
    margin: 5px;
    border: 2px solid color-mix(in srgb, var(--default-color), transparent 85%);
    color: var(--default-color);

    &:hover {
      background: var(--accent-color);
      color: var(--default-color);
      border: 2px solid var(--accent-color);
    }
  }
}