// main: ../main.scss
/*--------------------------------------------------------------
# Cards Section
--------------------------------------------------------------*/
.cards {
  .card {
    background-color: var(--surface-color);
    color: var(--default-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
    position: relative;
    border-radius: 0;
    height: 100%;
    padding-bottom: 10px;

    .card-img {
      overflow: hidden;
      margin-bottom: 15px;
      border-radius: 0;

      img {
        transition: 0.3s ease-in-out;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 0;
      padding: 10px 30px;
      text-transform: uppercase;
    }

    a {
      color: var(--heading-color);
      transition: 0.3;
    }

    p {
      padding: 0 30px;
      margin-bottom: 10px;
      color: color-mix(in srgb, var(--default-color), transparent 40%);
      font-size: 15px;
      font-weight: 500;
    }
  }
}